.header{
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0;
}

.nav{
    margin-right: 35px;
}

.nav_a{
    padding-left: 25px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #21243D;
}